*~
*.cfg
*.iml
target/
graalvm/
.settings/
./.project
.factorypath
.classpath
.idea/
.project
/bin/
/Coco.jar
component/graalphp-component.jar
language/dependency-reduced-pom.xml
native/graalphp-native
**/target/
graalphp-component.jar
graalphp-native/graalphp-native
/antlr-4.7.1-complete.jar
/graalvm-ce-java11-20.0.0/
/tools/graalvm.tar.gz
/tools/graalvm-ce-java11-20.0.0/
/graalphp-language/src/main/java/com/oracle/truffle/sl/parser/SimpleLanguage.interp
/graalphp-language/src/main/java/com/oracle/truffle/sl/parser/SimpleLanguage.tokens
/graalphp-language/src/main/java/com/oracle/truffle/sl/parser/SimpleLanguageLexer.interp
/graalphp-language/src/main/java/com/oracle/truffle/sl/parser/SimpleLanguageLexer.tokens
graalvm.tar.gz
.#*
graal_dumps
/graalphp-component/jartmp7318173110672002863.tmp
/vendor/
tmp/
pom.xml.versionsBackup
**/__pychache__
/benchmarks/report/binary-trees-copy-by-ref-box.png
/benchmarks/report/binary-trees-copy-by-ref.png
/benchmarks/report/fannkuch-box.png
/benchmarks/report/fannkuch.png
/benchmarks/report/spectral-norm-boxplot.png
/benchmarks/report/spectral-norm-glob-boxplot.png
/benchmarks/report/spectral-norm-glob.png
/benchmarks/report/spectral-norm-ref-boxplot.png
/benchmarks/report/spectral-norm-ref.png
/benchmarks/report/spectral-norm-val-boxplot.png
/benchmarks/report/spectral-norm-val.png
/benchmarks/report/spectral-norm.png
/benchmarks/report/__pycache__/
/benchmarks/report/database.sqlite
**/.versionsBackup
