*~
*.cfg
*.iml
target/
graalvm/
.settings/
./.project
.factorypath
.classpath
.idea/
.project
/bin/
/Coco.jar
component/graalphp-component.jar
language/dependency-reduced-pom.xml
native/graalphp-native
**/target/
graalphp-component.jar
graalphp-native
